body {
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: beige;
}

h1 {
    color: rgb(31, 189, 236);
}

a {
    color: darkgray;
    text-decoration: none;
}

a:hover {
    color: cornflowerblue;
}

ul>li: {
    font-weight: bold;
}

h1+p {
    background-color: #161B22;
    padding: 10px;
    border-radius: 5px;
}

ul li:hover {
    color: #4F8CC9;
}

ul li :nth-child(3) {
    background-color: #21262D;
}

p:not(:first-of-type) {
    text-decoration: underline;
}

ul li ::before {
    content: "🚀 ";
}

a::after {
    content: "🌌 ";
}

p::first-letter {
    font-size: 200%;
    color: #FF7B72;
}